.level_0 {
  border-radius: 10px;
  display: flex;
  align-items: end;
  padding: 24px;
  min-width: 255px;
  min-height: 137px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.level_1 {
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

@media (max-width: 1160px) {
  .level_0 {
    min-width: auto;
    width: 100%;
  }
}
