.level_0 {
  gap: 48px;
  flex-direction: column;
  align-items: center;
}
.level_1 {
  align-items: center;
  justify-content: space-between;
  background-color: #373f68;
  padding: 27px 40px 27px 32px;
  border-radius: 10px;
  width: 100%;
}
.level_2 {
  flex-direction: column;
}
.level_3 {
  gap: 30px;
  width: 100%;
  justify-content: center;
}
.level_4 {
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}
.level_5 {
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .level_3 {
    gap: 10px;
  }
}
