.level_0 {
  gap: 48px;
  flex-direction: column;
  align-items: center;
}
.level_1 {
  align-items: center;
  justify-content: space-between;
  background-color: #373f68;
  padding: 27px 40px 27px 32px;
  border-radius: 10px;
  width: 100%;
}
.level_2 {
  flex-direction: column;
}
.level_3 {
  gap: 30px;
  width: 100%;
  justify-content: center;
}
.level_4 {
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}
.level_5 {
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.level_0_mob {
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  outline: 1px solid #dbdfea;
  padding: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .level_3 {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .level_0 {
    gap: 0px;
  }
  .level_1 {
    border-radius: 0px;
    padding: 26px 24px;
    width: 100vw;
    margin-top: -24px;
  }
  .level_5 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}
