.level_0 {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 24px;
  row-gap: 14px;
  column-gap: 8px;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
}

@media (max-width: 1160px) {
  .level_0 {
    width: 100%;
    min-width: 211px;
  }
}
